    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Aktuarium</h2>
              <br/>
                <p>Hi my name is Timea Szili. I am the owner of Aktuarium. </p>
                <p>Enthusiastic actuarial professional</p>
                <p>Based in The Netherlands</p>
                <p>Hello :-) </p>
                <br/>
              </div>
        </div>
    </section>
